{% extends 'main.html' %} {% block content %}

<div class="note-item__container note">
  <div class="note-tools-container">
    <span class="note-date" title="{date}"> 2021-4-8 </span>
    <div class="note-options">
      <button class="icon-btn option" title="Edit">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button class="icon-btn option" title="Delete">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <!-- /options -->
  </div>
  <!-- /note-tools -->

  <h2 class="note__title">Lorem adipisicing.</h2>
  <!-- /note-title -->
  <p class="note__body">
    Continually engage effective markets vis-a-vis business human capital.
    Authoritatively generate prospective innovation rather than 2.0 sources.
    Dynamically expedite. Monotonectally underwhelm client-focused expertise
    with installed base convergence. Energistically enable installed base
    paradigms for multimedia based outsourcing. Intrinsicly aggregate
    leading-edge leadership whereas cost effective customer service. Dynamically
    pontificate.
  </p>
  <!-- /note-body -->
</div>
<!-- /note -->
{% endblock content %}
