{% extends 'main.html' %} {% block content %}

<div class="note-item__container edit-note">
  <form action="" method="POST">
    {% csrf_token %}
    <input
      type="text"
      name="title"
      class="edit-note__title"
      placeholder="Note title..."
      {% if note %}
      value="{{ note.title }}"
      {% endif %}
    />
    <!-- /note-title -->
    <textarea name="body" class="edit-note__body" placeholder="Enter note...">
{% if note %}{{ note.body }}{% endif %}
    </textarea>

    <!-- /note-body -->
    <button type="submit" class="btn">
      {% if note %} Edit note {% else %} Add note {% endif %}
    </button>
  </form>
</div>
<!-- /edit-note -->
{% endblock content %}
