{% extends 'main.html' %} {% block content %}

<div class="options-container">
  <button
    class="icon-btn add-notes"
    title="Add Note"
    onclick="window.location.href=`{% url 'add-note' %}`;"
  >
    <i class="fa-solid fa-plus"></i>
  </button>
  <div class="search-notes">
    <form action="" method="GET">
      <input
        type="text"
        name="q"
        class="search-notes__input-box"
        placeholder="Search Notes"
      />
      <button
        type="submit"
        class="icon-btn search-notes__icon"
        title="Search Note"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <!-- /search-notes -->
</div>
<!-- /options-container -->

<div class="notes-container">
  {% if notes %} {% for note in notes %}
  <div class="note-item__container note-item">
    <h3 class="note-item__title" title="{{ note.title }}">
      <a href="{% url 'display-note' note.id %}">{{ note.title }}</a>
    </h3>
    <!-- /note-item__title -->

    <p class="note-item__body">
      {{ note.body|slice:420 }}{% if note.body|length > 50 %}...
      <a
        href="{% url 'display-note' note.id %}"
        class="note-item__link"
        title="View More"
      >
        View More
      </a>
      {% endif %}
    </p>
    <!-- /note-item__body -->

    <div class="divider"></div>

    <div class="note-tools-container">
      <span class="note-date"> {{ note.created|date }} </span>
      <div class="note-options">
        <button
          class="icon-btn option"
          title="Edit"
          onclick="window.location.href=`{% url 'edit-note' note.id %}`;"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button
          class="icon-btn option"
          title="Delete"
          onclick="window.location.href=`{% url 'delete-note' note.id %}`;"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
      <!-- /options -->
    </div>
    <!-- /note-tools -->
  </div>
  <!-- /note-item -->
  {% endfor %} {% else %}
  <h2 class="note-item__message">No Notes Found!</h2>
  <button class="btn" onclick="window.location.href=`{% url 'add-note' %}`;">
    Add Notes
  </button>
  {% endif %}
</div>
<!-- /notes-container -->
{% endblock content %}
