@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --global-transition: 150ms color linear, 200ms background-color ease-in-out,
    150ms width linear, 200ms border-color linear, transform 200ms linear,
    margin 220ms linear, 150ms opacity linear, 150ms box-shadow linear;
}

.theme-light {
  --color-primary: #21222a;
  --color-secondary: #f1faee;
  --color-gray: #626262;
  --font-color: #000000;
}

.theme-dark {
  --color-primary: #e2e2e1;
  --color-secondary: #21222a;
  --color-gray: #6c6c6c;
  --font-color: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--global-transition);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', 'sans-serif';
  padding: 10px 0;
}

.icon-btn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 12px;
}

.header,
.options-container {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  margin: 20px auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-btn {
  cursor: pointer;
  width: 38px;
  height: 21px;
  border: 2px solid var(--color-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  padding: 0 3px;
}

.toggle-dot {
  width: 14px;
  height: 14px;
  background-color: var(--color-primary);
  border-radius: 40px;
}

.theme-dark .toggle-btn {
  justify-content: flex-end;
}

.logo-text {
  color: var(--color-primary);
  font-family: 'Nunito', sans-serif;
  user-select: none;
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.logo-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  border-radius: 40px;
  height: 3px;
  transition: inherit;
  background-color: var(--color-primary);
}

.logo-text:hover::after {
  width: 95%;
}

.options-container {
  margin-bottom: 40px;
  display: flex;
  gap: 13px;
}

.search-notes,
.add-notes {
  border-radius: 5.5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

.add-notes {
  width: 45px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-notes {
  width: 100%;
  overflow: hidden;
  padding: 10px 15px;
}

.search-notes__icon,
.add-notes {
  color: var(--color-gray);
}

.search-notes__icon:hover,
.add-notes:hover {
  color: var(--color-primary);
}

.search-notes > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-box {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: var(--color-primary);
}

.input-box::placeholder {
  transition: inherit;
  color: var(--color-gray);
}

.input-box:focus::placeholder {
  color: transparent;
}

.divider {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 2px;
  border-radius: 40px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.note {
  width: 100%;
  max-width: 380px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 7px;
}

.note-title {
  margin-bottom: 13px;
}

.note .note-title > a {
  font-size: 22px;
  line-height: 28px;
  color: var(--color-primary);
  text-decoration: none;
}

.note .note-body {
  line-height: 22px;
  margin-bottom: 13px;
  color: var(--font-color);
}

.note .note-link {
  color: var(--color-gray);
}

.note .note-link:hover {
  color: var(--color-primary);
}

.note .note-tools-container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.note .note-created {
  font-family: 'Nunito', 'sans-serif';
  color: var(--color-primary);
}

.note .note-options {
  display: flex;
  gap: 10px;
}

.note .note-options .option {
  color: var(--color-primary);
}

/* responsive-large */
@media only screen and (max-width: 992px) {
  .note {
    max-width: 430px;
  }
}

/* responsive-medium */
@media only screen and (max-width: 768px) {
  .note {
    max-width: 600px;
  }
}

/* responsive-small */
@media only screen and (max-width: 565px) {
  .header {
    margin: 5px auto;
  }

  .search-notes {
    margin-bottom: 25px;
  }
}
